.remove-prof{
    padding: 10px;
    background-color: #333;
    color: white;
    border: thin solid blue;
    text-transform: uppercase;
    cursor: pointer;

    border-radius: 8px;

    &:hover{ background-color: blue;}
}

.prof-button-modifier{text-decoration: none;}
.bioData{ display: none;}
.showBio{display: block !important;}